@import "../variables";

model-viewer {
  width: 500px;
  height: 500px;
  --poster-color: $light;
  background: $light;
  border-radius: 20px;
}

.model-name {
  color: $light !important;
  font-family: $title-font;
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: rgba(20, 20, 20, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

@media screen and (max-width: $mobile) {
  model-viewer {
    width: 300px;
    height: 400px;
  }
}
