@import "../variables";

:not(:defined) > * {
  display: none;
}

body {
  display: flex !important;
  justify-content: center;

  width: 100vw;
  height: 100vh;
}

main {
  display: grid;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1000px;
  margin-top: 20px;
}

.model {
  margin: 10px;

  img {
    @include imageMedium;
  }
}

h3 {
  margin: 10px;
  padding-top: 10px;
  color: $light;
  font-family: $title-font;
  overflow-y: hidden;
}

a:hover {
  text-decoration: none !important;

  h3 {
    color: $deep-space-sparkle !important;
  }
}

.new-model {
  width: 400px;
  height: 75px;
  text-align: center;
  border-radius: 20px;

  font-size: 40px;
  a {
    @include linkStyling;
    display: block;
    height: 100%;
    width: 100%;
    color: $theme-font;

    &:hover {
      color: $theme;
    }
  }
}
